{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Авторизация пользователя</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-outline-primary">Вход</button>
    </form>
    <br>
    <small class="text-nuted">
        Ещё нет аккаунта?<a href="register">  Зарегестрироваться</a>
    </small>

{% endblock %}
