{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Авторизация пользователя</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button class="btn btn-primary">Вход</button>
    </form>

{% endblock %}

<!-- {% extends 'index.html' %}

{% block content %}
    <h1>Выход из аккаунта</h1>
    <p>Вы действительно хотите выйти из системы?</p>
        <br>
        <a href="logout" class="btn btn-primary">Выход</a>
        <a href="index" class="btn btn-primary">Вернуться</a>
    

{% endblock %} -->
